{% extends '@TwinElementsAdmin/core/details_with_sidebar.html.twig' %}
{% use '@TwinElementsPage/admin_blocks.html.twig' %}

{% set back_button_link = path('page_index') %}

{% block head_js %}
    {{ block('sortable') }}
{% endblock %}

{% block title %}
    {% if entity.title %}
        {{ entity.title }}
    {% else %}
        {{ entity.translate(default_locale, false).title }}<br>
        {{ block('title_no_translation_badge') }}
    {% endif %}
{% endblock %}

{% block buttons %}
    {{ block('back_button') }}
{% endblock %}

{% block right_sidebar %}
    {{ block('changes_details') }}

    {% if entity.childrenContents.count > 0 %}
        <div class="">
            <div class="d-flex justify-content-between align-items-center mb-6">
                <h5 class="mb-0">{{ "page.contents"|translate_admin }}:</h5>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a class="btn btn-outline-primary btn-sm rounded-pill"
                       href="{{ path('page_add_new_content', {'id': entity.id}) }}">{{ "page.add_a_new_content"|translate_admin }}</a>
                {% endif %}
            </div>

            <div class="list-group sortable">
                {% for content in entity.childrenContents %}

                    {% if is_granted(constant('TwinElements\\PageBundle\\Security\\PageVoter::EDIT'),content) %}
                        {% set contentUrl = path('page_edit', { 'id': content.id }) %}
                    {% endif %}

                    <div data-id="{{ content.id }}" class="sortable-item list-group-item list-group-item-action  d-flex justify-content-between align-items-center">
                        <a {% if contentUrl is defined %}href="{{ contentUrl }}" {% endif %}>
                            <span>{{ content.title }}</span>
                            {% if content.title is null %}
                                <span class="badge badge-warning">{{ "admin.no_translation"|translate_admin }}</span>
                            {% endif %}
                        </a>
                        {% if not content.enable %}
                            <span class="badge badge-danger">{{ "page.disabled"|translate_admin }}</span>
                        {% endif %}
                        {{ block('move') }}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
            {% if not entity.isSeparateContent and  is_granted('ROLE_SUPER_ADMIN') %}
                <a class="btn btn-outline-primary btn-sm rounded-pill"
                   href="{{ path('page_add_new_content', {'id': entity.id}) }}">{{ "page.add_a_new_content"|translate_admin }}</a>
            {% endif %}
    {% endif %}

    {% if entity.isSeparateContent is null %}
        {% if entity.isContentFor is null %}
            {% if entity.enable %}
                {% if entity.route %}
                    {% set page_url = path(entity.route) %}
                {% else %}
                    {% set page_url = path('front_page', { 'slug': entity.slug, 'id': entity.id }) %}
                {% endif %}
                <div class="cms-section">
                    <p>{{ "page.link_for_preview"|translate_admin }}:
                        <a class="badge badge-info"
                           href="{{ page_url }}">{{ "actions.show"|translate_admin }}</a></p>
                </div>
            {% endif %}
        {% else %}
            <div class="cms-section">
                <p>{{ "page.this_is_the_content_for"|translate_admin }}: <span
                            class="badge badge-info">{% if entity.isContentFor.title %}{{ entity.isContentFor.title }}{% else %}{{ entity.isContentFor.translate(default_locale, false).title }}{% endif %}</span>
                </p>
            </div>
        {% endif %}
    {% endif %}

    {% if entity.route == '' %}
        {{ block('delete_form') }}
    {% endif %}

    {% set file_path = entity.image %}
    {% set section_title = 'Obrazek wyróżniający' %}
    {{ block('single_image_preview_template') }}

{% endblock %}
