{% extends '@TwinElementsAdmin/core/list.html.twig' %}

{% set add_button_link = path('page_new') %}

{% block title %}{{ "page.pages"|translate_admin }}{% endblock %}
{% block buttons %}
    {{ block('add_button') }}
{% endblock %}

{% block top_sidebar %}
    {% set queryParams = app.request.query.all %}
    <div class="d-flex justify-content-between mb-6">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" id="setPagesLimit" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {% if app.request.query.has('limit') %}<span class="badge">
                    ({{ app.request.query.get('limit') }})</span> {% endif %}Wyświetl na stronie
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="setPagesLimit">
                <a class="dropdown-item{% if limit == 20 %} active{% endif %}"
                   href="{{ path('page_index', queryParams|merge({limit: 20})) }}">20 stron</a>
                <a class="dropdown-item{% if limit == 40 %} active{% endif %}"
                   href="{{ path('page_index', queryParams|merge({limit: 40})) }}">40 stron</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item{% if limit == 9999 %} active{% endif %}"
                   href="{{ path('page_index', queryParams|merge({limit: 9999})) }}">Wszystkie</a>
            </div>
        </div>
        <div>
            {% form_theme searchForm 'bootstrap_4_layout.html.twig' %}
            {{ form_start(searchForm) }}
            <div class="d-flex align-items-center">
                {{ form_widget(searchForm.title) }}
                {{ form_widget(searchForm.button) }}
            </div>

            {{ form_end(searchForm) }}
        </div>
    </div>
{% endblock %}

{% block list %}
    {{ block('list_ul_begin') }}
    {{ block('list_li_header_begin') }}
    {{ block('id_header') }}
    <div class="col">{{ "admin.title"|translate_admin }}</div>
    {{ block('list_changes_header') }}
    {{ block('circle_header') }}
    {{ block('move_header') }}
    {{ block('list_li_header_end') }}
    {% for entity in pages %}
        {% set createdAt = entity.createdAt %}
        {% set createdBy = entity.createdBy %}
        {% set updatedAt = entity.updatedAt %}
        {% set updatedBy = entity.updatedBy %}

        {% set id = entity.id %}
        {% set circle_active = entity.enable %}

        {{ block('list_li_begin') }}
        {{ block('id') }}
        <div class="col">
            <div class="title">
                <span>{{ entity.title }}</span>
                {% if entity.title is null %}
                    <span class="badge badge-warning">{{ "admin.no_translation"|translate_admin }}</span>
                {% endif %}
                <br>
                <div class="hidden-bar">
                    {% if entity.enable %}
                        {% if entity.route %}
                            {% set page_url = path(entity.route) %}
                        {% else %}
                            {% set page_url = path('front_page', { 'slug': entity.slug, 'id': entity.id }) %}
                        {% endif %}
                        <a href="{{ page_url }}" target="_blank">{{ "actions.show"|translate_admin }}</a>
                    {% endif %}
                    {% if is_granted(constant('TwinElements\\PageBundle\\Security\\PageVoter::VIEW'), entity) %}
                        <span class="circle-separator"></span>
                        <a href="{{ path('page_edit', { 'id': entity.id }) }}">{{ "admin.edit"|translate_admin }}</a>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <span class="circle-separator"></span>
                        <a href="{{ path('page_add_new_content', {'id': entity.id}) }}">{{ "page.add_a_new_content"|translate_admin }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {{ block('changes_box_in_list') }}
        {{ block('circle') }}
        {{ block('move') }}
        {{ block('list_li_end') }}
        {% if entity.childrenContents.count > 0 %}
            <div class="bg-light row">
                <div class="col">
                    <p class="mb-0 mt-3 font-weight-bold">Treści:</p>
                    {% for content in entity.childrenContents %}
                        {% set createdAt = content.createdAt %}
                        {% set createdBy = content.createdBy %}
                        {% set updatedAt = content.updatedAt %}
                        {% set updatedBy = content.updatedBy %}
                        {% set id = content.id %}
                        {% set circle_active = content.enable %}
                        {{ block('list_li_begin') }}
                        {{ block('id') }}
                        <div class="col">
                            <div class="title">
                                <span>{{ content.title }}</span>
                                {% if content.title is null %}
                                    <span class="badge badge-warning">{{ "admin.no_translation"|translate_admin }}</span>
                                {% endif %}
                                <br>
                                <div class="hidden-bar">
                                    {% if is_granted(constant('TwinElements\\PageBundle\\Role\\PageRoles::ROLE_PAGE_EDIT')) %}
                                        <a href="{{ path('page_edit', { 'id': content.id }) }}">{{ "cms.edit"|translate_admin }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {{ block('changes_box_in_list') }}
                        {{ block('circle') }}
                        {{ block('move') }}
                        {{ block('list_li_end') }}

                    {% endfor %}
                </div>
            </div>
        {% endif %}

    {% else %}
        {{ block('no_elements') }}
    {% endfor %}
    {{ block('list_ul_end') }}
    {% if pages.totalItemCount > pages.itemNumberPerPage %}
        <div class="py-3 mt-3">
            {{ knp_pagination_render(pages) }}
        </div>
    {% endif %}
{% endblock %}

{% block head_js %}
    {{ block('sortable') }}
{% endblock %}
